*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

/*---------------Buttons and Color Picker-----------------*/

.button-container{
    display: flex;
    justify-content: center;
    margin: 4.8em 0 2em 0;
    transition: all .4s ease;
}

.button-container a:hover{
    transform: scale(1.2);
}

.brush,
.erase{
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 1em;
}

.color-picker{
    font-size: 1.2rem;
}

/* ------------Grid Container -------------- */

.grid-container{
    display: grid;
    grid-template-columns: max-content;
    width: 500px;
    height: 500px;
    background-color: black;
    margin: 0 auto 1em auto;
}

/* ---------- Grid Item --------------*/

.grid-item{
    background-color: white;
    transition: all .2s ease;
}



/* ------------Box-size Picker-------------*/

.grid-box-size{
    text-align: center;
}



/* ---------------Colors ------------------*/

.red{
    color: red;
}

.blue{
    color: blue;
}

.erase{
    color: white;
}

.random{
    color: forestgreen;
}